@use "variables" as *;

button {
    background-color: $buttonBackground;
    height: auto;
    width: auto;
    padding: 15px;
    
}

button:hover:focus:active {
    background-color: black;
}

.projectButton {
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    border: none;
        
}

.button {
    text-decoration: none;
    border: none;
    font-family: roboto;
}

