@use "variables" as *;

button {
    background-color: $buttonBackground;
    height: auto;
    width: auto;
    padding: 15px;
    
}

.projectButton {
    display:flex;
    justify-content: space-around;
    text-decoration: none;
        
}

.emailButton {
    test-decoration: none;
}

