@use '../variables' as *;
@use '../responsive' as *;

.contact {
    background-color: $background-primary;
    text-align: center;
    p {
        margin-bottom: 30px;
        margin-right: 10%;
        margin-left: 10%;
    }
    .contact-paragraph {
        margin-bottom: 60px;
        a {
                color: $text-color;
                text-decoration: none;
        
                &:visited {
                    color: $text-color;
                }
        
                &:hover,
                &:focus {
                    color: $text-hover;
                    
                    
                    padding: 0 10px;
                    transition: background-color 1s ease-out;
                }
            }
    }
    }
    h2 {
        margin: 0 auto;
    }
    ul.social-media {
        display: flex;
        justify-content: center;
        margin: 0 50px;
        @include mobile {
            justify-content: center;
            flex-direction: row;
            flex-basis: 33%;
            width: 100%;
            margin: 0 auto;
            flex-wrap: wrap;
        }

        i {
            padding: 10px;
            &:hover,
                &:focus {
                    color: $text-hover;
                    background-color: $text-color;
                    
                    
                        transition: background-color 1s ease-out;
                        border-radius: 25px;
                }
        }
    }
    li {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 10px;
        @include mobile {
            padding: 20px;
        }
    }


.connect-container {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(75px/2);
    ul {
        margin: 0 300px;
        @include tablet-large {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
            li {
                @include tablet-large {
                    width: 100%;
                    flex-basis: 20%;
                }
                @include mobile {
                flex-basis: 33%;
                }
            }
        }
    }
}

