@use '../responsive' as *;

header {
    p {
        margin-bottom: 70px;
    }
    position: relative;
    @include tablet-large {
        text-align: center;
    }
    h1 {
        @include mobile {
            margin: 0;
            line-height: 70px;
        }
    }
    h2 {
        padding: 25px 0;
        @include tablet-large {
            padding: 10px 0;
        }
        @include mobile {
            margin: auto;
            font-size: 25px;
            line-height: 20px;
        }
    }
    p {
        @include tablet-large {
            margin: 0 auto;
        }
        @include mobile {
            display: none;
        }
    }
    .portfolio-button {
        @include tablet-large {
            width: 30%;  
            margin: 30px 0;  
        }
        @include tablet {
            width: 40%;
        }
        @include mobile {
            display: none;
        }
    }
    .wrapper {
        position: relative;
        height: 100%;
    }
}

.intro-container {
    display: flex;
    justify-content: center;
    .wrapper {
        display: flex;
        padding-top: 100px;
        @include tablet-large {
            flex-direction: column;
            align-items: center;
            left: 0;
            margin: 0 20px;
            padding-top: 50px;
        }
        @include tablet {
            padding-top: 100px;
        }
        @include mobile {
            position: relative;
            margin: 0 auto;
        }
    }
}

.intro-text {
    flex-basis: 40%;
    flex-grow: 1;
}

.profile-picture {
    flex-basis: 50%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    img {
        width: auto;
        height: auto;
        flex-grow: 1;
        @include tablet-large {
            padding-top: 50px;
            left: 30%;
        }
        @include tablet {
            padding-top: 10px;
        }
        @include mobile {
            padding-top: 20px;
            left: 0;
        }
    }
}
