@use 'variables' as *;

 header {
    background-image: url('../images/bannerCoffee.svg');
    background-size: cover;
    height: 50vh;
    margin-top: 0;
   
    
    
 }

 .headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8em;
    color: white;
    
 }