@media (max-width: 1000px) {
    .project1, .project2 {
        flex-basis: 40%;
    }

}

@media (max-width:800px) {
    .button {
        padding: 0.5rem;
        margin-top: 0.2rem;
    }

    
}

@media (max-width: 350px) {
    .navBar {
        display:none;
    }

        .hamburger,
        .hamburger::before,
        .hamburger::after {
            background: black;
    }

    .button {
        margin-right: 0.1rem;
        margin-left: 0.1rem;
    }

    .projecs {
        padding-right: 0;
            padding-left: 0;
            flex-wrap: wrap;
    }

    .project1 {
        margin-bottom: 0.4rem;
        flex-basis: 50%
        
        
    }
}