.navBar {
    
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: transparent;
        
    }

    li {
        list-style-type: none;
        margin-right: 4rem;
        background-color: none;
    
    }

    a {
        justify-content: center;
        text-decoration: none;
        color: white;
    
    }
}

