@use '../variables' as *;
@use '../responsive' as *;

.portfolio {
    background-color: $background-secondary;
    margin: 0 auto;
    @include tablet-large {
        text-align: center;
    }
    h2 {
        margin: 0 auto;
        text-align: center;
    }
    h3 {
        padding-top: 0;
        .icon-size {
            font-size: 0.75em;
        }
        .span-spacer {
            padding-left: 10px;
            @include mobile {
                padding: 0 10px;
            }
        }
    }
    h4 {
        text-align: center;
    }
    i {
        padding-bottom: 10px;
    }
}

.portfolio-item-left {
    display: flex;
    padding-bottom: 75px;
    @include mobile {
        padding-bottom: 50px;
    }
    @include tablet-large {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .portfolio-item-img {
        margin-right: 75px;
        @include tablet-large {
            margin: 0;
        }
    }
    .portfolio-item-text {
        margin-left: 75px;
        @include tablet-large {
            margin: 0;
        }
    }
}

.portfolio-item-right {
    display: flex;
    padding-bottom: 75px;
    @include tablet-large {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
    .portfolio-item-img {
        margin-left: 75px;
        @include tablet-large {
            margin: 0;
        }
    }
    .portfolio-item-text {
        margin-right: 75px;
        @include tablet-large {
            margin: 0;
        }
    }
}

.portfolio-item-text {
    flex-basis: 50%;
}

.made-with-icons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    @include tablet-large{
        flex-wrap: wrap;
    }
    li {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        padding: 20px;
        @include mobile {
            flex-basis: 33%;
        }
    }
    i {
        @include mobile {
            font-size: 3rem;
        }
    }
    .firebase-logo {
        height: 40px;
        padding-bottom: 10px;
        @include mobile {
            height: 58px;
        }
    }
}

.portfolio-item-img {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
    img {
        width: 100%;
    }
}

.title-section {
    display: flex;
    justify-content: space-between;
    @include tablet-large {
        justify-content: center;
    }
}