@use '../variables' as *;
@use '../responsive' as *;

.skills {
    background-color: $background-secondary;
    margin: auto 0;
    h2 {
        margin: auto 0;
        text-align: center;
        @include mobile {
            padding-bottom: 0;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        li {
            display: flex;
            flex-direction: column;
            text-align: center;
            flex: 25%;
            padding: 25px 0;
            i {
                padding-bottom: 20px;
                @include mobile {
                    font-size: 3rem;
                }
            }
        }
    }
}

.firebase-logo {
    height: 95px;
    padding-bottom: 20px;
    @include mobile {
        height: 68px;
    }
}