@use "variables" as *;

.skills {
    background-color: $skillsBackground;
    font: white;
    margin: 0;
        h2 {
            margin: 0;
            padding: 7rem;
            color: white;
        }
    display: flex;
    flex-direction: column;
    align-items: center;
    
}