@use  './variables' as *;
@use  './mixins' as *;
@use  './responsive' as *;
span.emoji {
    font-size: 32px;
    vertical-align: middle;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: $text-color;
    overflow-x: hidden;
 

//text and fonts
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Poppins', sans-serif;
	color: $text-color;
	font-weight: 600;
}

h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 60px;
    @include tablet-large {
        font-size: 2.5em;
    }
    @include mobile {
        font-size: 3em;
    }
}

h2 {
    font-size: 55px;
    font-weight: 900;
    padding: 75px 0;
    line-height: 45px;
    @include tablet-large {
        font-size: 2em;
    }
    @include mobile {
        line-height: 75px;
        padding: 25px 0;
    }
}

h3 {
    font-size: 32px;
    font-weight: 600;
    @include mobile {
        line-height: 50px;
    }
}

h4 {
    @include mobile {
        font-size: 25px;
    }
}

h5 {
    font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        font-size: 16px;
        color: $text-color;
        letter-spacing: 0;
    
}

p {
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 23px;
    color: $text-color;
    letter-spacing: 0;
    line-height: 35px;
    @include mobile {
        font-size: 1.1em;
    }
}

a {
    color: $text-color;
    text-decoration: none;
    &:visited {
        color: $text-color;
    }
        
    
}

ul {
    padding-left: 0;
    li {
        list-style: none;
    }
}

//header
header {
    background-color: $background-primary;
    width: 100%;
    @include tablet-large {
        height: auto;
    }
}

//classes
.wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}



//buttons
button {
    border: 2px solid $text-color;
    border-radius: 25px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    transition: background-color 1s ease-out;
    
}
}
u {
    a {

&:hover {
    background-color: $text-color;
        color: $text-color-dark;
        padding: 0 10px;
            transition: background-color 1s ease-out;
            border-radius: 25px;
            cursor: pointer;
    }
}
}