$breakpoint-large-device: 1200px;
$breakpoint-tablet-large: 993px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

@mixin large-device () {
    @media (max-width: $breakpoint-large-device) { 
        @content; 
        .profile-picture {
            img {

               
            }
        }
    }
}

@mixin tablet-large () {
    @media (max-width: $breakpoint-tablet-large) { 
        @content; 
        .intro-container {
            align-content: flex-end;
        }
    }
}

@mixin tablet () {
    @media (max-width:$breakpoint-tablet ) { 
        @content; 
    }
}

@mixin mobile () {
    @media (max-width: $breakpoint-mobile) { 
        @content; 
        ul.social-media {
            li {
            margin: 0;
            }
        }
    }
}



