
//fonts
$text-color: #fff;
$text-color-dark: #333333;
// $text-color-orange: #f0bb62;
// $text-hover: #f0bb62;
$text-color-green: #24505a;
$text-hover: #24505a;

//backgrounds
$background-primary: #c57385;
$background-secondary: #24505a; 
$background-secondary-opacity: #1d293e00;
$background-grey: #ebf4fa;
$background-light-blue: #53b3cb;
//buttons
$button-color: #f0bb62;