html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

span.emoji {
  font-size: 32px;
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #fff;
  overflow-x: hidden;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
}
body h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 60px;
}
@media (max-width: 993px) {
  body h1 {
    font-size: 2.5em;
  }
  body h1 .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 576px) {
  body h1 {
    font-size: 3em;
  }
  body h1 ul.social-media li {
    margin: 0;
  }
}
body h2 {
  font-size: 55px;
  font-weight: 900;
  padding: 75px 0;
  line-height: 45px;
}
@media (max-width: 993px) {
  body h2 {
    font-size: 2em;
  }
  body h2 .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 576px) {
  body h2 {
    line-height: 75px;
    padding: 25px 0;
  }
  body h2 ul.social-media li {
    margin: 0;
  }
}
body h3 {
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 576px) {
  body h3 {
    line-height: 50px;
  }
  body h3 ul.social-media li {
    margin: 0;
  }
}
@media (max-width: 576px) {
  body h4 {
    font-size: 25px;
  }
  body h4 ul.social-media li {
    margin: 0;
  }
}
body h5 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
}
body p {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 23px;
  color: #fff;
  letter-spacing: 0;
  line-height: 35px;
}
@media (max-width: 576px) {
  body p {
    font-size: 1.1em;
  }
  body p ul.social-media li {
    margin: 0;
  }
}
body a {
  color: #fff;
  text-decoration: none;
}
body a:visited {
  color: #fff;
}
body ul {
  padding-left: 0;
}
body ul li {
  list-style: none;
}
body header {
  background-color: #c57385;
  width: 100%;
}
@media (max-width: 993px) {
  body header {
    height: auto;
  }
  body header .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
body .wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
body button {
  border: 2px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

u a:hover {
  background-color: #fff;
  color: #333333;
  padding: 0 10px;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  border-radius: 25px;
  cursor: pointer;
}

nav {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 26px;
}
nav ul {
  margin: 0 auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav li {
  padding: 0 20px;
}
nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}
nav li a:visited {
  color: #fff;
}
nav li a:hover, nav li a:focus {
  color: #24505a;
  background-color: #fff;
  border-radius: 25px;
  margin: 5px;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}

.mobile-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
  overflow: hidden;
  padding: 0 25px 0 100px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
@media (max-width: 768px) {
  .mobile-menu-container {
    padding: 0 50px;
    height: 100%;
  }
}
.mobile-menu-container.open {
  background-color: #24505a;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  z-index: 2;
}
.mobile-menu-container ul {
  margin: 0;
  padding-top: 0.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mobile-menu-container ul li {
  padding: 0.75em 0;
}
.mobile-menu-container ul a {
  font-size: 2.5em;
}
.mobile-menu-container .mobile-menu {
  visibility: hidden;
  padding-top: 50px;
  opacity: 0%;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  z-index: 1;
}
@media (max-width: 768px) {
  .mobile-menu-container .mobile-menu.open {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 100%;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
}

.hamburger-icon {
  display: none;
  position: relative;
  height: 50px;
  width: 50px;
  top: 25px;
  z-index: 2;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
  }
}
.hamburger-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #fff;
  border-radius: 9px;
}
.hamburger-icon .line-one {
  top: 25px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  translate: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.hamburger-icon .line-one.hamburger-animate {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  translate: 17px -3px;
  background-color: #fff;
}
.hamburger-icon .line-two {
  top: 40px;
  right: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.hamburger-icon .line-two.hamburger-animate {
  right: -100px;
  background-color: #fff;
  position: absolute;
}
.hamburger-icon .line-three {
  top: 55px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  translate: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.hamburger-icon .line-three.hamburger-animate {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  translate: 15px 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #fff;
}

header {
  position: relative;
}
header p {
  margin-bottom: 70px;
  margin-top: 20px;
}
@media (max-width: 993px) {
  header {
    text-align: center;
  }
  header .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 576px) {
  header h1 {
    margin: 0;
    line-height: 70px;
  }
  header h1 ul.social-media li {
    margin: 0;
  }
}
@media (max-width: 993px) {
  header h2 {
    padding: 10px 0;
  }
  header h2 .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 576px) {
  header h2 {
    margin: auto;
    font-size: 25px;
    line-height: 20px;
  }
  header h2 ul.social-media li {
    margin: 0;
  }
}
@media (max-width: 993px) {
  header p {
    margin: 0 auto;
  }
  header p .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 576px) {
  header p {
    display: none;
  }
  header p ul.social-media li {
    margin: 0;
  }
}
@media (max-width: 993px) {
  header .portfolio-button {
    width: 30%;
    margin: 30px 0;
  }
  header .portfolio-button .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 768px) {
  header .portfolio-button {
    width: 40%;
  }
}
@media (max-width: 576px) {
  header .portfolio-button {
    display: none;
  }
  header .portfolio-button ul.social-media li {
    margin: 0;
  }
}
header .wrapper {
  position: relative;
  height: 100%;
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}
@media (max-width: 993px) {
  .intro-container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    margin: 0 20px;
    padding-top: 50px;
  }
  .intro-container .wrapper .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 768px) {
  .intro-container .wrapper {
    padding-top: 100px;
  }
}
@media (max-width: 576px) {
  .intro-container .wrapper {
    position: relative;
    margin: 0 auto;
  }
  .intro-container .wrapper ul.social-media li {
    margin: 0;
  }
}

.intro-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.profile-picture {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.profile-picture img {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 993px) {
  .profile-picture img {
    padding-top: 50px;
    left: 30%;
  }
  .profile-picture img .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 768px) {
  .profile-picture img {
    padding-top: 10px;
  }
}
@media (max-width: 576px) {
  .profile-picture img {
    padding-top: 20px;
    left: 0;
  }
  .profile-picture img ul.social-media li {
    margin: 0;
  }
}

.skills {
  background-color: #24505a;
  margin: auto 0;
  padding-bottom: 70px;
}
.skills h2 {
  margin: auto 0;
  text-align: center;
}
@media (max-width: 576px) {
  .skills h2 {
    padding-bottom: 0;
  }
  .skills h2 ul.social-media li {
    margin: 0;
  }
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 25px 0;
}
.skills ul li i {
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  .skills ul li i {
    font-size: 3rem;
  }
  .skills ul li i ul.social-media li {
    margin: 0;
  }
}

.firebase-logo {
  height: 95px;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  .firebase-logo {
    height: 68px;
  }
  .firebase-logo ul.social-media li {
    margin: 0;
  }
}

.portfolio {
  background-color: #24505a;
  margin: 0 auto;
}
.portfolio .project-buttons {
  margin-top: 30px;
}
@media (max-width: 993px) {
  .portfolio {
    text-align: center;
  }
  .portfolio .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
.portfolio h2 {
  margin: 0 auto;
  text-align: center;
}
.portfolio h3 {
  padding-top: 0;
}
.portfolio h3 .icon-size {
  font-size: 0.75em;
}
.portfolio h3 .span-spacer {
  padding-left: 10px;
}
@media (max-width: 576px) {
  .portfolio h3 .span-spacer {
    padding: 0 10px;
  }
  .portfolio h3 .span-spacer ul.social-media li {
    margin: 0;
  }
}
.portfolio h4 {
  text-align: center;
}
.portfolio li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio i {
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.portfolio img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio button {
  color: #fff;
}
.portfolio button:hover, .portfolio button:focus {
  color: #24505a;
  background-color: #fff;
  cursor: pointer;
}

.portfolio-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
}
@media (max-width: 576px) {
  .portfolio-item-left {
    padding-bottom: 50px;
  }
  .portfolio-item-left ul.social-media li {
    margin: 0;
  }
}
@media (max-width: 993px) {
  .portfolio-item-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio-item-left .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
.portfolio-item-left .portfolio-item-img {
  margin-right: 75px;
}
@media (max-width: 993px) {
  .portfolio-item-left .portfolio-item-img {
    margin: 0;
  }
  .portfolio-item-left .portfolio-item-img .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
.portfolio-item-left .portfolio-item-text {
  margin-left: 75px;
}
@media (max-width: 993px) {
  .portfolio-item-left .portfolio-item-text {
    margin: 0;
  }
  .portfolio-item-left .portfolio-item-text .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}

.portfolio-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
}
@media (max-width: 993px) {
  .portfolio-item-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
  }
  .portfolio-item-right .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
.portfolio-item-right .portfolio-item-img {
  margin-left: 75px;
}
@media (max-width: 993px) {
  .portfolio-item-right .portfolio-item-img {
    margin: 0;
  }
  .portfolio-item-right .portfolio-item-img .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
.portfolio-item-right .portfolio-item-text {
  margin-right: 75px;
}
@media (max-width: 993px) {
  .portfolio-item-right .portfolio-item-text {
    margin: 0;
  }
  .portfolio-item-right .portfolio-item-text .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}

.portfolio-item-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.made-with-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
}
@media (max-width: 993px) {
  .made-with-icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .made-with-icons .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
.made-with-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}
@media (max-width: 576px) {
  .made-with-icons li {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .made-with-icons li ul.social-media li {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .made-with-icons i {
    font-size: 3rem;
  }
  .made-with-icons i ul.social-media li {
    margin: 0;
  }
}
.made-with-icons img {
  margin-bottom: 1px;
}
.made-with-icons .firebase-logo {
  height: 40px;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .made-with-icons .firebase-logo {
    height: 58px;
  }
  .made-with-icons .firebase-logo ul.social-media li {
    margin: 0;
  }
}

.portfolio-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio-item-img img {
  width: 100%;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 993px) {
  .title-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title-section .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}

.about {
  background-color: #c57385;
  padding-bottom: 70px;
}
.about h2 {
  text-align: center;
  margin: 0 auto;
}
.about .button.resume-button {
  padding: 15px 20px;
}

.about-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 993px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-container .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}

.about-image-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 993px) {
  .about-image-container {
    margin: 0;
  }
  .about-image-container .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
.about-image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
  max-width: 500px;
}

.about-text-container {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
@media (max-width: 993px) {
  .about-text-container {
    margin: 0;
    text-align: center;
  }
  .about-text-container .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
.about-text-container p {
  padding-bottom: 25px;
}

.contact {
  background-color: #c57385;
  text-align: center;
}
.contact p {
  margin-bottom: 30px;
  margin-right: 10%;
  margin-left: 10%;
}
.contact .contact-paragraph {
  margin-bottom: 60px;
}
.contact .contact-paragraph a {
  color: #fff;
  text-decoration: none;
}
.contact .contact-paragraph a:visited {
  color: #fff;
}
.contact .contact-paragraph a:hover, .contact .contact-paragraph a:focus {
  color: #24505a;
  padding: 0 10px;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

h2 {
  margin: 0 auto;
}

ul.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 50px;
}
@media (max-width: 576px) {
  ul.social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    width: 100%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  ul.social-media ul.social-media li {
    margin: 0;
  }
}
ul.social-media i {
  padding: 10px;
}
ul.social-media i:hover, ul.social-media i:focus {
  color: #24505a;
  background-color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  border-radius: 25px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 10px;
}
@media (max-width: 576px) {
  li {
    padding: 20px;
  }
  li ul.social-media li {
    margin: 0;
  }
}

.connect-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 37.5px;
}
.connect-container ul {
  margin: 0 300px;
}
@media (max-width: 993px) {
  .connect-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 993px) and (max-width: 993px) {
  .connect-container ul li {
    width: 100%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .connect-container ul li .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}
@media (max-width: 993px) and (max-width: 576px) {
  .connect-container ul li {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .connect-container ul li ul.social-media li {
    margin: 0;
  }
}
@media (max-width: 993px) {
  .connect-container ul .intro-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}

footer {
  background-color: #c57385;
  text-align: center;
  padding: 15px 0;
}

.wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  display: inline-block;
  font-size: 70px;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 15%;
  font-size: 20px;
}
.form button {
  color: #fff;
}
.form button:hover, .form button:focus {
  color: #24505a;
  background-color: #fff;
  cursor: pointer;
}
.form input,
.form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.form input,
.form textarea {
  margin-top: 0.5rem;
}
.form input {
  padding: 0.2rem 0.5rem;
}